{% extends "::layout/layout.html.twig" %}

{% block body %}
    {#<div class="push"></div>#}
    {#<div style="display: flex; justify-content: center; margin-top: 10%">#}
        {#<form action="{{ path("website_propositions") }}" method="post">#}
            {#{{ form_widget(form) }}#}
            {#<input type="submit" style="height: 6vh; margin-top: 1vh;"></input>#}
            {#{{ form_end(form) }}#}
        {#</form>#}
    {#</div>#}


{% endblock %}